<div class="proflCntnr">
  <div class="jumbotron">
    <div class="page-header">
      <h1>Author Name here</h1>
      <br>
      <h3>Rank: 10</h3>
    </div>
  </div>

  <a *ngFor="let article of newsStream" [href]="article.link">
    <div class="strmItmCntnr">
      <div class="strmImgCntnr">
        <img [src]="article.img" class="strmImg">
      </div>
      <div class="strmTxtCntnr greyTxt">
        <h4>{{article.title}}</h4>
        <h6>Author: <a routerLink="/profile/{{article.authorId}}">{{article.author}}</a></h6>
        <p>	{{article.text}}
        </p>
      </div>
      
    </div>
  </a>
        
        
    
</div>
