<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="">Unmai Zeithi</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2 navSrchBox" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li *ngIf="this.authService.currentUserValue"><a routerLink="/newArticle"> + Submit article</a></li>
      <li *ngIf="!this.authService.currentUserValue"><a routerLink="/login">Login</a></li>
      <li *ngIf="!this.authService.currentUserValue"><a routerLink="/register">Join Us</a></li>
      <li *ngIf="this.authService.currentUserValue" (click)="logout()"><a>Log Out</a></li>
      
      <!--
      <li class="dropdown"><a routerLink="/newBill">Bill</a>
        <div class="dropdown-content">
          <a routerLink="/newBill">New Bill</a>
          <a routerLink="/viewBills">View Bills</a>
        </div>
      </li>
      <li class="dropdown"><a routerLink="/inventory">Inventory</a>
        <div class="dropdown-content">
          <a routerLink="/additem">Add Item</a>
          <a routerLink="/">View Items</a>
        </div>
      </li>
      -->
    </ul>
  
</nav>