<div class="container draftCntnr">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter the URL to the article:" aria-label="Enter the URL to the article:" aria-describedby="artLink">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" id="artLink">Publish</button>
      </div>
    </div>    
</div>

<br>

<div class="artPreviewCntnr">

  <div class="draftPrvwPlaceholder">
    Article Preview Appears Here
  </div>

</div>
